-
  let shareUrlDownInv = 'https://tradingradar.net/azioni-inversione-ribassista'

section(id="downinversion", class="table-wrapper")
  div
    h2 Titoli azionari in possibile #[em inversione di trend ribassista]
    p La lista delle azioni della Borsa Italiana il cui prezzo, #[em dopo una fase di rialzo], negli ultimi giorni è sceso #[em sotto le media a 20gg e 40gg]. 
    table
      thead
        tr
          th Nome
          th Ultimo prezzo
          th Media 20gg
          th Media 40gg
      tbody
    p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
    p(class="detection") Rilevamento: #[em ]
    div(class="social")
      div(class="fb-like" data-href=shareUrlDownInv data-width="" data-layout="button" data-action="like" data-size="large" data-share="true")
      div(class="t-share")
        script(async, src="https://telegram.org/js/telegram-widget.js?22", data-telegram-share-url=shareUrlDownInv, data-size="large")
  div
    div(class="fb-comments", data-href=shareUrlDownInv, data-width="", data-mobile="true", data-numposts="5")
  