div(id="criteria")
  h3 I criteri di selezione
  p I titoli azionari selezionati in base all'Analisi Tecnica
  p #[em Performance:]
    a(data-target="perf-month") Performance mensili
    a(data-target="perf-year") Performance annuali
  p #[em Trend:]
    a(data-target="uptrends") Titoli in trend rialzista
    a(data-target="downtrends") Titoli in trend ribassista
  p #[em Inversione:]
    a(data-target="upinversion") Titoli in inversione rialzista
    a(data-target="downinversion") Titoli in inversione ribassista
  p #[em Analisi Tecniche:]
    a(data-target="almodovar") Titoli sull'orlo di una Crisi di Nervi