div(id="criteria")
  h3 Sezioni
  p I titoli azionari selezionati in base all'Analisi Tecnica
  div
    p #[em Performance:]
      a(data-target="perf-month", href="/#perf-month") Performance mensili
      a(data-target="perf-year", href="/#perf-year") Performance annuali
    p #[em Trend:]
      a(data-target="uptrends", href="/#uptrends") Titoli in trend rialzista
      a(data-target="downtrends", href="/#downtrends") Titoli in trend ribassista
    p #[em Inversione:]
      a(data-target="upinversion", href="/#upinversion") Titoli in inversione rialzista
      a(data-target="downinversion", href="/#downinversion") Titoli in inversione ribassista
    p #[em Sondaggi:]
      a(data-target="almodovar", href="/#almodovar") Titoli sull'orlo di una Crisi di Nervi