#sources div {
  margin-top: var(--small-space);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 }
#sources a {
 margin-right: var(--large-space);
 margin-bottom: var(--small-space);
}
#sources a::before {
  width: var(--x-large-space);
  height: var(--x-large-space);
  margin-right: var(--small-space);
  border: 1px solid var(--gray);
}