aside(id="stock_alerts")
  h3 Alert generati
  i(class="icon-close")
  p In base al prezzo attuale (€#[span(id="last-price")]), il titolo #{stock.name} ha generato i seguenti alert:
  p(id="a1", class="alert green hide") Il prezzo è superiore alla media a 20gg
  p(id="a2", class="alert red hide") Il prezzo è inferiore alla media a 20gg
  p(id="a3", class="alert green hide") Il prezzo è superiore alla media a 40gg
  p(id="a4", class="alert red hide") Il prezzo è inferiore alla media a 40gg

  p(id="a5", class="alert green hide") Il prezzo è superiore alla resistenza (Borsa Italiana)
  p(id="a6", class="alert red hide") Il prezzo è inferiore al supporto (Borsa Italiana)
  p(id="a7", class="alert green hide") Il prezzo è superiore alla resistenza (Teleborsa)
  p(id="a8", class="alert red hide") Il prezzo è inferiore al supporto (Teleborsa)
