#perf-year ul.up span {
  color: var(--green);
}
#perf-year ul.down span {
  color: var(--red);
}
#perf-year ul span {
  text-shadow: 0 0 var(--gray);
}

#perf-year h3::before {
  font-family: 'icomoon' !important;
  content: "\e9a5";
  font-size: var(--font-size-biggest);
  margin-right: var(--x-small-space);
  vertical-align: text-bottom;
  display: inline-block;
  text-shadow: var(--text-shadow);
}
#perf-year-up h3::before {
  color: var(--green);
}
#perf-year-down h3::before {
  color: var(--red);
  transform: rotate(90deg);
}
