#main-banner > div {
  background-image: url('/assets/images/borsa-milano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: var(--xx-small-space);
}

#main-banner > div > div {
  position: relative;
}

#main-banner > div > div {
  position: relative;
  padding: var(--normal-space);
  background: rgba(255,255,255,.95);
  border-bottom: 1px solid var(--gray);
}
#main-banner img {
  display: none;
}

#main-banner #slogan {
  
}
#main-banner #sources {
  margin: var(--normal-space);
}
#main-banner #criteria {
  margin: var(--normal-space);
}

#main-banner h1, #main-banner h3 {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  
}
