-
  let fbPoll0 = process.env.FB_POST_0
  let telPoll0 = process.env.TEL_POST_0
  let telPollLink0 = process.env.TEL_LINK_0
  let stockPoll0 = process.env.STOCK_POST_0
  let titlePoll0 = process.env.TITLE_POST_0
  
div(id="main-banner")
  div(id="slogan")
    h1 Trova ora le Azioni più interessanti della Borsa Italiana
    p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[a(class="ext", href="http://www.traderpedia.it/wiki/index.php/Categoria:Analisi_tecnica")  Analisi Tecnica].
  
  div(class="wrap")   
    include ../../shared/sources/sources.pug
    
  include ../../shared/criteria/criteria.pug
