#main-banner {
  margin: 0;
  padding: 0;
  position: relative;
}

#main-banner h1, #main-banner h3 {
  font-weight: bold;
}

#main-banner img {
  width: 100%;
  opacity: .8;
}

#main-banner > div > div {
  position: absolute;
}

#main-banner #slogan {
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 0;
  background: rgba(255,255,255,.9);
}

#main-banner #sources {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 0;
  background: rgba(255,255,255,.75);
  font-weight: 500;
  border-top: 1px solid var(--gray);
}