section(id="main-banner")
  div
    img(src="/assets/images/borsa-milano.jpg", alt='Borsa di Milano')
    div(id="slogan")
      h1 Trova ora le Azioni più interessanti della Borsa Italiana
      p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[a(class="ext", href="http://www.traderpedia.it/wiki/index.php/Categoria:Analisi_tecnica")  Analisi Tecnica].
    include ../../shared/sources/sources.pug



  