#home .sources div {
  margin-top: var(--small-space);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 }
#home .sources a {
 margin-right: var(--large-space);
 margin-bottom: var(--small-space);
}
#home .sources a::before {
  width: var(--x-large-space);
  height: var(--x-large-space);
  margin-right: var(--small-space);
}

#home .menu p {
  display: flex;
  align-items: center;
}
#home .menu em {
  margin-right: var(--small-space);
}
#home .menu a {
  margin-right: var(--x-large-space);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: center;
}
#home .menu a[data-target]::before {
  font-family: 'icomoon' !important;
  font-size: var(--font-size-bigger);
  margin-right: var(--x-small-space);
  margin-bottom: var(--small-space);
  vertical-align: text-bottom;
  text-shadow: 1px 1px var(--black);
  color: var(--light-gray);

  border: 1px solid var(--light-gray);
  padding: var(--x-small-space);
  border-radius: var(--border-radius-round);
}
#home .menu a[data-target="perf-month"]::before {
  content: "\e9a5";
}
#home .menu a[data-target="perf-year"]::before {
  content: "\e9a5";
}
#home .menu a[data-target="uptrends"]::before {
  content: "\e9b5";
}
#home .menu a[data-target="downtrends"]::before {
  content: "\e9b5";
}
#home .menu a[data-target="upinversion"]::before {
  content: "\e9a9";
}
#home .menu a[data-target="downinversion"]::before {
  content: "\e9a9";

}

#home h3 {
  margin-top: var(--large-space);
}