extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni più interessanti della Borsa Italiana
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  include ../components/shared/sources/sources.pug
  div(class="menu")
    h3 I dati
    p I titoli azionari selezionati in base all'Analisi Tecnica
    p #[em Performance:]
      a(data-target="perf-month", href="#perf-month") Performance mensili
      a(data-target="perf-year", href="#perf-year") Performance annuali
    p #[em Trend:]
      a(data-target="uptrends", href="#uptrends") Titoli in trend rialzista
      a(data-target="downtrends", href="#downtrends") Titoli in trend ribassista
    p #[em Inversione:]
      a(data-target="upinversion", href="#upinversion") Titoli in inversione rialzista
      a(data-target="downinversion", href="#downinversion") Titoli in inversione ribassista
  include ../components/home/perf-month/perf-month.pug
  include ../components/home/perf-year/perf-year.pug
  include ../components/home/uptrends/uptrends.pug
  include ../components/home/downtrends/downtrends.pug
  include ../components/home/upinversion/upinversion.pug
  include ../components/home/downinversion/downinversion.pug
  include ../components/home/socials/socials.pug

block prepend footer
  include ../components/shared/disclaimer/disclaimer.pug
