extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni più interessanti della Borsa Italiana
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[a(class="ext", href="http://www.traderpedia.it/wiki/index.php/Categoria:Analisi_tecnica")  Analisi Tecnica].
  include ../components/shared/sources/sources.pug
  include ../components/shared/criteria/criteria.pug
  include ../components/home/perf-month/perf-month.pug
  include ../components/home/perf-year/perf-year.pug
  include ../components/home/uptrends/uptrends.pug
  include ../components/home/downtrends/downtrends.pug
  include ../components/shared/support/support.pug
  include ../components/home/upinversion/upinversion.pug
  include ../components/home/downinversion/downinversion.pug
  include ../components/home/socials/socials.pug

block prepend footer
  include ../components/shared/disclaimer/disclaimer.pug
