#stock_info .intro span {
  display: block;
  margin: var(--xx-small-space) 0;
}

#stock_info > img {
  border: 1px solid var(--black);
}

#stock_info div h2 {
  border-bottom: 1px solid var(--gray);
  margin-top: var(--xxx-large-space)
}

#stock_info h1 span {
  font-weight: 500;
}

#stock_info h3 {
  margin: var(--large-space) 0 var(--xx-small-space);
}

#stock_info {
  line-height: 125%;
}

#stock_info .info span, #stock_info .analysis span, #stock_info .news span  {
  font-weight: 500;
}
#stock_info .second h3 a {
  font-size: var(--font-size-small);
}

#stock_info .second {
  display: flex;
  justify-content: space-between;
  margin: var(--xx-large-space) 0;
}
#stock_info .second > div {
  margin: 0 .7rem;
  width: 100%;
}
#stock_info .second > div > div > div {
  padding: var(--xx-small-space) .2rem;
  display: flex;
  justify-content: space-between;
}
#stock_info .second > div > div > div:nth-child(odd) {
  background-color: var(--light-gray);
}


#stock_info .analysis h3 {
  margin-left: var(--xx-large-space);
}
#stock_info .analysis h3 a{
  color: var(--primary)
}
#stock_info .analysis > div {
  display: flex;
  justify-content: space-between;
}
#stock_info .analysis > div > div {
  position: relative;
  width: 100%;
  margin: 0 var(--normal-space);
}
#stock_info .analysis ul {
  margin: 0;
}
#stock_info .analysis li{
  padding: var(--xx-small-space) .2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#stock_info .analysis li:nth-child(odd) {
  background-color: var(--light-gray);
}
#stock_info .analysis p {
  margin-top: var(--normal-space);
}
#stock_info .analysis .borsa-italiana-logo .evaluation, #stock_info .analysis .borsa-italiana-logo .evaluation span {
  display: block;
}
#stock_info .analysis .trend, #stock_info .analysis .trend span {
  display: block;
}


#stock_info .news {
  margin-top: var(--xx-large-space);
}

#stock_info .borsa-italiana-logo {
  position: relative;
}
#stock_info .il-sole-24-ore-logo {
  position: relative;
}
#stock_info .milano-finanza-logo {
  position: relative;
}
#stock_info .soldi-on-line-logo {
  position: relative;
}
#stock_info .teleborsa-logo {
  position: relative;
}
#stock_info .repubblica-aff-e-fin-logo {
  position: relative;
}
#stock_info .img_icon::before {
  position: absolute;
  left: 0;
  top: .9rem;
  width: var(--x-large-space);
  height: var(--x-large-space);
}

#stock_info .info > p, #stock_info .analysis > p, #stock_info .news > p{
  margin-bottom: var(--normal-space);
}

@media screen and (max-width: 768px) {
  #stock_info .second {
    flex-direction: column;
  }
  #stock_info .analysis > div {
    flex-direction: column;
  }
  #stock_info .analysis > div > div {
    margin: var(--normal-space) .7rem;
  }
  #stock_info .second > div {
    width: auto;
  }
  #stock_info .analysis > div > div {
    width: auto;
  }
}