section(id="perf-month", class="list-wrapper")
  div(id="perf-month-up") 
    h2 Titoli azionari con le #[em migliori] performance #[em mensili]
    p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori rialzi degli ultimi 30 giorni].
    ul(class="trlist rank up")
    p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
    p(class="detection") Rilevamento: #[em ]
  div(id="perf-month-down")
    h2 Titoli azionari con le #[em peggiori] performance #[em mensili]
    p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori ribassi degli ultimi 30 giorni].
    ul(class="trlist rank down")
    p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
    p(class="detection") Rilevamento: #[em ]
  div(class="social")
    div(class="fb-like" data-href="https://tradingradar.net/performance-mensili" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true")
    div(class="t-share")
      script(async, src="https://telegram.org/js/telegram-widget.js?22", data-telegram-share-url="https://tradingradar.net/performance-mensili", data-size="large")
    div(class="fb-comments", data-href="https://tradingradar.net/performance-mensili", data-width="100%", data-mobile="true", data-numposts="5")
  