section(id="perf-month", class="list-wrapper")
  div 
    h2(id="perf-month-up") Titoli azionari con le migliori performance mensili
    p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori rialzi degli ultimi 30 giorni].
    ul(class="trlist rank up")
    p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
    p(class="detection") Rilevamento: #[em ]
  div 
    h2(id="perf-month-down") Titoli azionari con le peggiori performance mensili
    p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori ribassi degli ultimi 30 giorni].
    ul(class="trlist rank down")
    p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
    p(class="detection") Rilevamento: #[em ]
  