#main-logo {
  font-size: var(--font-size-biggest);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

#main-logo img {
  height: 4rem;
  vertical-align: text-bottom;
  border-radius: 50%;

  margin-right: var(--x-small-space);
}

#main-logo span {
  display: inline-block;
}

#main-logo small {
  display: block;
  font-style: italic;
}
