#main-logo {
  font-size: var(--font-size-biggest);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

#main-logo img {
  height: 4rem;
  vertical-align: text-bottom;
  border-radius: 50%;
}

#main-logo span {
  display: inline-block;
}

#main-logo small {
  display: block;
  font-weight: 500;
  font-style: italic;
}
