extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni con le migliori (e peggiori) performance mensili
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  include ../../components/shared/sources/sources.pug
  include ../../components/home/perf-month/perf-month.pug
  div(class="menu")
    h3 Scopri le altre Classifiche e Selezioni
    p Titoli azionari selezionati in base ai #[em criteri di Analisi Tecnica]
    p #[em Performance:]
      a(data-target="perf-year", href="/#perf-year") Performance annuali
    p #[em Trend:]
      a(data-target="uptrends", href="/#uptrends") Titoli in trend rialzista
      a(data-target="downtrends", href="/#downtrends") Titoli in trend ribassista
    p #[em Inversione:]
      a(data-target="upinversion", href="/#upinversion") Titoli in inversione rialzista
      a(data-target="downinversion", href="/#downinversion") Titoli in inversione ribassista

block prepend footer
  include ../../components/shared/disclaimer/disclaimer.pug
