extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Azioni Italiane con le migliori (e peggiori) performance mensili")
  meta(name="keywords" content="performance, mensili, azioni, italiane, borsa")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni con le migliori (e peggiori) performance mensili
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  include ../../components/shared/sources/sources.pug
  include ../../components/home/perf-month/perf-month.pug
  include ../../components/shared/criteria/criteria.pug

block prepend footer
  include ../../components/shared/disclaimer/disclaimer.pug
