section(id="socials")
  div
    h2 Tieniti informato: segui i nostri post sui nostri Social
    p Ogni giorno pubblichiamo analisi, aggiornamenti, sondaggi e notizie tramite le nostre Pagine o Canali
    div
      h3 Facebook
      div(class="fb-page", data-href="https://www.facebook.com/tradingradar/", data-tabs="timeline", data-width="320", data-height="", data-small-header="false", data-adapt-container-width="true", data-hide-cover="false", data-show-facepile="true")
        blockquote(cite="https://www.facebook.com/tradingradar/", class="fb-xfbml-parse-ignore")
          a(href="https://www.facebook.com/tradingradar/") tradingradar.net
      div 
        h3 Telegram
        script(async, src="https://telegram.org/js/telegram-widget.js?22", data-telegram-discussion="tradingradarnet/1", data-comments-limit="5")

  