
#almodovar div.fb {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#almodovar div.fb > div {
  margin-top: var(--normal-space);
  width: 350px!important;
}
#almodovar h3 {
  margin-bottom: var(--small-space);
}