section(id="follow")
  h2 Ti interessa #{stock.name}? Segui il titolo!
  p #[em Se cambia, quando cambia!] Ricevi direttamente #[em sulla tua email] ogni aggiornamento circa la situazione tecnica del titolo #{stock.name}...
  p Alcun i esempi di informazioni aggiornate ogni giorno:
  ul 
    li Il valore del dividendo 
    li Le Raccomandazioni e i target price dei principali Analisti 
    li I rating e le Tendenze dai principali Media online 
    li I valori di Resistenza e Supporto aggiornati ogni giorno 
    li Ed ogni altro aspetto riguardante il titolo che stai monitorando...
  h3 Inserisci la tua email e ricevi subito il primo aggiornamento 
  form(action="mailto:marco@tradingradar.net?subject=Aggiornami su " + stock.name, method="POST", enctype="text/plain") 
    input(type="text", name="name", placeholder="Nome", required)
    input(type="email", name="email", placeholder="Email", required)
    input(type="checkbox", name="privacy", id="privacy", required)
    label(for="privacy") Cliccando il pulsante qui sotto, accetti le condizioni di #[a(href="/privacy", title="Vai alla pagina Privacy" target="_blank", rel="noopener noreferrer") Privacy]
    input(type="submit", class="btn", value="Inviami il primo aggiornamento")

