- 
  let links = [
    {
      name: 'Home',
      url: '/',
      class: 'icon-home'
    },
    {
      name: 'Titoli',
      url: '/titoli'
    },
    {
      name: 'Target price e Raccomandazioni',
      url: '/target-price-giudizi'
    },
    {
      name: 'Dividendi',
      url: '/dividendi'
    }
  ] 
i(class="icon-menu") 
nav(id="main-menu")
  ul
    each link in links
      li(class = (title === link.name) ? "active" : "")
        if link.class
          span(class=link.class)
        a(href=link.url, title=link.name) #{link.name.toUpperCase()}

