section(id="uptrends", class="table-wrapper")
  div
    h2 Titoli azionari in trend rialzista
    p La lista delle azioni della Borsa Italiana con un #[em trend rialzista] in base all'andamento delle principali medie.
    table
      thead
        tr
          th Nome
          th Ultimo prezzo
          th Media 20gg
          th Media 40gg
          th Media 100gg
      tbody
    p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
    p(class="detection") Rilevamento: #[em ]
    div(class="social")
      div(class="fb-like" data-href="https://tradingradar.net/azioni-italiane-rialziste" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true")
  div
    div(class="fb-comments", data-href="https://tradingradar.net/azioni-italiane-rialziste", data-width="", data-mobile="true", data-numposts="5")
  