html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--view-padding);
  flex: auto;
}
main section {
  margin: var(--section-margin) 0;
}
main section:nth-child(even):not(.loading) {
  background-color: var(--lightest-gray);
  margin: -1.5rem;
  padding: 1.5rem;
}

a {
  color: var(--blue);
  text-decoration: none;
}

em, .em {
  font-weight: 500;
}

p {
  margin: var(--small-space) 0
}

small {
  font-size: var(--font-size-small);
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

p.source, p.detection {
  font-style: italic;
  font-size: var(--font-size-small);
  color: var(--darker-gray);
}

/* flex list wrapper */
.list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-wrapper > div {
  margin: var(--small-space) 0;
  width: 48%;
}
.list-wrapper .social {
  text-align: center;
  border-top: 1px solid var(--ligth-gray);
  padding-top: var(--x-large-space);
}
@media screen and (max-width: 768px) {
  .list-wrapper > div {
    width: 100%;
  }
}
