html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

table tbody tr:nth-child(odd) {
  background-color: var(--lightest-gray);
}
ul.trlist li:nth-child(odd) {
  background-color: var(--lightest-gray);
}

main {
  padding: var(--view-padding);
  flex: auto;
}
main section {
  margin: var(--section-margin) 0;
}
main section:nth-child(even):not(.loading) {
  background-color: var(--lightest-gray);
  margin: -1.5rem;
  padding: 1.5rem;
}
main section:nth-child(even) table tbody tr:nth-child(odd) {
  background-color: var(--white);
}
main section:nth-child(even) ul li:nth-child(odd) {
  background-color: var(--white);
}

a {
  color: var(--blue);
  text-decoration: none;
  position: relative;
}
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: absolute;
  top: -4px;
  font-size: 12px;
  right: -9px;
}

em, .em {
  font-weight: 500;
}

p {
  margin: var(--x-small-space) 0;
  line-height: 120%;
}

small {
  font-size: var(--font-size-small);
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

p.source, p.detection {
  font-style: italic;
  font-size: var(--font-size-small);
  color: var(--darker-gray);
}

.t-share {
  margin-top: var(--normal-space);
}

/* flex list wrapper */
.list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-wrapper > div {
  margin: var(--small-space) 0;
  width: 48%;
}
.list-wrapper .social {
  text-align: center;
  border-top: 1px solid var(--lighter-gray);
  padding-top: var(--x-large-space);
}
@media screen and (max-width: 768px) {
  .list-wrapper > div {
    width: 100%;
  }
}

/* flex table wrapper */
.table-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.table-wrapper > div {
  margin: var(--small-space) 0;
  width: 48%;
}
.table-wrapper .social {
  text-align: center;
  border-top: 1px solid var(--light-gray);
  padding-top: var(--x-large-space);
}

.table-wrapper table {
  margin-bottom: var(--x-large-space);
  max-height: 33rem;
  display: inline-block;
  overflow: auto;
  text-shadow: 0 0 var(--light-gray);
  font-weight: 500;
}

.table-wrapper table th, td {
  padding: var(--x-small-space) var(--normal-space);
  text-align: left;
  padding-left: 0;
}

.table-wrapper table th {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .table-wrapper > div {
    width: 100%;
  }
}
