html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--view-padding);
  flex: auto;
}
main section {
  margin: var(--section-margin) 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

em, .em {
  font-weight: 500;
}

p {
  margin: var(--small-space) 0
}

small {
  font-size: var(--font-size-small);
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}


/* tradingradar list */
ul.trlist {
  margin: var(--xx-small-space) 0 var(--large-space);
  list-style: decimal;
  text-shadow: 0 0 var(--light-gray);;
}
ul.trlist li {
  padding: var(--x-small-space);
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 0;
}
ul.trlist li:nth-child(odd) {
  background-color: var(--light-gray);
}
/* ranked list */
ul.rank li:nth-child(1) a, ul.rank li:nth-child(2) a, ul.rank li:nth-child(3) a {
  text-transform: uppercase;
}
ul.rank li:nth-child(1) a {
  font-weight: bold;
}
ul.rank li:nth-child(1) a:before, ul.rank li:nth-child(2) a:before, ul.rank li:nth-child(3) a:before {
  font-family: 'icomoon' !important;
  content: "\e99e";
  font-size: var(--font-size-bigger);
  margin-right: var(--x-small-space);
  vertical-align: text-bottom;
}
ul.rank li:nth-child(1) a:before {
  color: var(--gold);
}
ul.rank li:nth-child(2) a:before {
  color: var(--silver);
}
ul.rank li:nth-child(3) a:before {
  color: var(--bronze);
}
